@import 'Variaveis';

section.section {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;
}

.btn {
    background-color: $cor-button;
    border: none;
    color: $cor-button2;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 50px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(213, 173, 236);
    margin: 0 150px;
    border-radius: 10px;
}

.redes-sociais {
    height: 60px;
    width: 60px;
}

.facebook {
    border-radius: 12px;
}

label {
    padding-left: 20px;
}

a.link-sociais:visited {
    color: rgb(0, 0, 0);
}

a.link-sociais:hover {
    color: rgb(101, 100, 167);
}

@media(max-width: 768px) {
    .flex-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 0px;
        background-color: rgb(213, 173, 236);
        border-radius: 10px;
    }
}

@media(max-width: 576px) {
    .flex-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 0px;
        background-color: rgb(213, 173, 236);
        border-radius: 10px;
    }
}