$cor-principal: rgb(218, 137, 198);
$cor-button: rgb(214, 180, 207);
$cor-button2: rgb(185, 104, 165);
$cor-menu1: rgb(243, 84, 209);
$cor-menu2: rgb(241, 167, 218);

$altura-header: 500px;
$largura-header: 100%;
$altura-footer: 60px;

$altura-img: 450px;
$largura-img: 350px;
$altura-logo: 130px;
$largura-logo: 130px;